#EDIT TO YOUR NEEDS

NFCKASSE_HOST     = 'localhost'
NFCKASSE_PORT     = 3307
NFCKASSE_DATABASE = 'nfc_kasse'
NFCKASSE_USERNAME = ''
NFCKASSE_PASSWORD = ''

MACHINES_HOST     = 'localhost'
MACHINES_PORT     = 3308
MACHINES_DATABASE = 'laser'
MACHINES_USERNAME = ''
MACHINES_PASSWORD = ''

LOCALDB_HOST     = 'localhost'
LOCALDB_PORT     = 3306
LOCALDB_DATABASE = 'nfc_kasse'
LOCALDB_USERNAME = ''
LOCALDB_PASSWORD = ''

NV9_10_USBPORT   = '/dev/ttyACM0'

SMTP_USERNAME    = ''
SMTP_PASSWORD    = ''
SMTP_HOST        = ''
SMTP_SENDER      = ''
SMTP_RECEIVER    = ''

UID_TEST         = [0x01, 0x23, 0x45, 0x67]
